<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Test nulls first</title>
    <link rel="stylesheet" href="{{ static("css/style.css") }}" />
  </head>
  <body>
    <h2>List of files</h2>
    <p>In this example, the sorting on size will put nulls at the beginning of the list.</p>
    <table>
      <thead>
        <tr>
          <th>{{ sorting_anchor(request, "id", "File ID") }}</th>
          <th>{{ sorting_anchor(request, "filename", "Filename") }}</th>
          <th>{{ sorting_anchor(request, "created_on", "Date") }}</th>
          <th>{{ sorting_anchor(request, "size", "Size") }}</th>
          <th>{{ sorting_anchor(request, "order", "Order") }}</th>
          <th>{{ sorting_anchor(request, "is_secret", "Secret?") }}</th>
        </tr>
      </thead>
      <tbody>
        {% for secret_file in sort_queryset(request, secret_files, nulls="first") %}
          <tr>
            <td>{{ secret_file.id }}</td>
            <td>{{ secret_file.filename }}</td>
            <td>{{ secret_file.created_on }}</td>
            <td>{{ secret_file.size }}</td>
            <td>{{ secret_file.order }}</td>
            <td>{{ secret_file.is_secret|yesno() }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
