{% load static sorting_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Test nulls last</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <h2>List of files</h2>
    <p>In this example, the sorting on size will put nulls at the end of the list.</p>
    {% autosort secret_files nulls=last %}
    <table>
      <thead>
        <tr>
          <th>{% anchor id "ID" %}</th>
          <th>{% anchor filename "Filename" %}</th>
          <th>{% anchor created_on "Date" %}</th>
          <th>{% anchor size "Size" %}</th>
          <th>{% anchor order "Order" %}</th>
          <th>{% anchor is_secret "Secret?" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for secret_file in secret_files %}
          <tr>
            <td>{{ secret_file.id }}</td>
            <td>{{ secret_file.filename }}</td>
            <td>{{ secret_file.created_on }}</td>
            <td>{{ secret_file.size }}</td>
            <td>{{ secret_file.order }}</td>
            <td>{{ secret_file.is_secret|yesno }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
